<!-- Security Headers for Browser Protection -->
{%- if site.data.security.enabled.content_security_policy -%}
<!-- Content Security Policy -->
{%- comment -%}
  Hinweis: 'frame-ancestors' wird hier bewusst NICHT ausgegeben. Die Direktive ist
  laut CSP-Spezifikation in einem <meta>-Tag wirkungslos und erzeugt in jedem Browser
  nur eine Konsolenfehlermeldung. Sie wirkt ausschliesslich als HTTP-Header, den
  GitHub Pages nicht setzen kann. site.data.security.csp.frame_ancestors bleibt als
  Dokumentation erhalten, falls das Hosting einmal wechselt.
{%- endcomment -%}
<meta http-equiv="Content-Security-Policy" content="default-src {{ site.data.security.csp.default_src | join: ' ' }}; script-src {{ site.data.security.csp.script_src | join: ' ' }}; style-src {{ site.data.security.csp.style_src | join: ' ' }}; font-src {{ site.data.security.csp.font_src | join: ' ' }}; img-src {{ site.data.security.csp.img_src | join: ' ' }}; connect-src {{ site.data.security.csp.connect_src | join: ' ' }}">
{%- endif -%}

{%- if site.data.security.enabled.referrer_policy -%}
<!-- Referrer Policy - balance between privacy and functionality -->
<meta name="referrer" content="{{ site.data.security.referrer_policy }}">
{%- endif -%}

{%- if site.data.security.enabled.permissions_policy -%}
<!-- Permissions Policy - disable unnecessary browser features -->
<meta http-equiv="Permissions-Policy" content="camera={{ site.data.security.permissions_policy.camera }}, microphone={{ site.data.security.permissions_policy.microphone }}, geolocation={{ site.data.security.permissions_policy.geolocation }}, interest-cohort={{ site.data.security.permissions_policy.interest_cohort }}, payment={{ site.data.security.permissions_policy.payment }}, usb={{ site.data.security.permissions_policy.usb }}, magnetometer={{ site.data.security.permissions_policy.magnetometer }}, gyroscope={{ site.data.security.permissions_policy.gyroscope }}, accelerometer={{ site.data.security.permissions_policy.accelerometer }}, ambient-light-sensor={{ site.data.security.permissions_policy.ambient_light_sensor }}, autoplay={{ site.data.security.permissions_policy.autoplay }}, display-capture={{ site.data.security.permissions_policy.display_capture }}">
{%- endif -%}
