---
layout: default
---

<div class="container">

  {% bookshop page-heading title=page.title description=page.subtitle %}
  {% if page.header_image %}
    {% assign page_image = site.baseurl | append: page.header_image %}
  {% else %}
    {% assign page_image = site.baseurl | append: page.image %}
  {% endif %}
  {% bookshop page-image image=page_image %}

  <div class="page animate">
    {{ content }}
  </div>

  {% if page.previous.url %}
  <div class="project__navigation animate">
    <a class="project__prev" href="{{page.previous.url}}">
      <div class="project__box">
        <span class="project__nav__info">Nächstes Projekt</span>
        <h2 class="project__nav__title">{{page.previous.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>
